<h1>My Projects</h1>

<div class="row">
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item"><img src="{{bio.avatar_url}}" class="img-rounded img-responsive"/></li>
      <li class="list-group-item">{{bio.login}}</li>
      <li class="list-group-item">Date joined: {{formatDate bio.created_at 'MMMM D, YYYY'}}</li>
    </ul>
  </div>

  <div class="col-md-8">
    <ul class="list-group">
      {{#each repos as | repo|}}
      <li class="list-group-item">
        <div class="repo-list-stats">
          <span class="repo-list-stat-item">Repo language</span>
          <span class="repo-list-stat-item"><i class="fa fa-star"></i>0</span>
          <span class="repo-list-stat-item"><i class="fa fa-code-fork"></i>1</span>
        </div>
        <h4>
          <a href="{{repo.html_url}}">{{repo.name}}</a>
        </h4>
        <p>
          {{repo.description}}
        </p>
        
        {{#if repo.hasPost}}
        <p>
          <a href="/projects/{{repo.name}}">More info</a>
        </p>
        {{/if}}
        
        <p class="repo-list-meta">
          {{formatDate repo.updated_at 'MMMM D, YYYY'}}
        </p>
      </li>
      {{/each}}
    </ul>
  </div>
</div>